.App {
  text-align: center;
  background-color: pink;
}
h1 {
  color: rgb(151, 38, 93);
}




.App-link {
  color: #ac2c82;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
